<a href="https://colab.research.google.com/github/jesvinv4u/new/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
p=pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Air%20Quality%20Missing%20Data.csv')

In [8]:
p.head()

         Date  Ozone  Solar  Wind  Temp
0  01-05-1976   41.0  190.0   7.4    67
1  02-05-1976   36.0  118.0   8.0    72
2  03-05-1976   12.0  149.0  12.6    74
3  04-05-1976   18.0  313.0  11.5    62
4  05-05-1976    NaN    NaN  14.3    56

In [10]:
p.describe()

            Ozone       Solar        Wind        Temp
count  116.000000  146.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353
std     32.987885   90.058422    3.523001    9.465270
min      1.000000    7.000000    1.700000   56.000000
25%     18.000000  115.750000    7.400000   72.000000
50%     31.500000  205.000000    9.700000   79.000000
75%     63.250000  258.750000   11.500000   85.000000
max    168.000000  334.000000   20.700000   97.000000